select(class="custom-select form-control bg-light" id="edu" name="edu")
    option(selected disabled) ---Select Education---
    option(value="No Formal Education") No formal education
    option(value="Primary education") Primary education
    option(value="Secondary education") Secondary education
    option(value="Vocational qualification") Vocational qualification
    option(value="Bachelor's degree") Bachelor's degree
    option(value="Master's degree") Master's degree
    option(value="Doctorate or higher") Doctorate or higher
    option(value="Other") Other


    