footer(class="bg-light text-center text-lg-start")
    div(class="text-center p-3 d-flex")
        span(class="material-icons" style="margin-left:30%") copyright 
        h5 Copyright 2021 : 
        a(class="#303952" href="/" style="color:blue; font-size:20px; letter-spacing:1px; padding-left:10px; text-decoration:none") Sukh Sager Projects