doctype html 
html 
    head
        title Successfull
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
    body
        div(class="container col-5" style="margin-top:10%; align-items:center; margin:15% auto 0% auto" )
            div(class="d-flex" style="align-items:center;margin:auto")
                i(class="bi bi-emoji-smile-upside-down-fill " style="font-size:50px; color: #16a085")
                h3(style="color :#9b59b6; font-weight:500; letter-spacing:1px" class="mx-3") Signed up successfully!  
            div(style="margin:auto")
                p(style="font-size:18px; letter-spacing:1px; color:#636e72;margin-left:15% " ) please login to continue
                a(class="btn btn-outline-success " role="button" href="/" style="margin-left:15%" ) Login





    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")